VITE_API_URL=http://192.168.1.174
VITE_MFE_AUTH_URL=http://localhost:3001
VITE_MFE_HABITS_URL=http://localhost:3002
VITE_MFE_ADMIN_URL=http://localhost:3003
VITE_MFE_COMPETITION_URL=http://localhost:3004
